{% extends '::layout.html.twig' %}

{% block body -%}
<div class="container w60 m20">
	<form method='post' class="well w60 teal">
        <legend>Saisie Hierarchie</legend>
		{{form_widget(form)}}
		{{form_rest(form)}}
		<br/>
		<a href ="{{path('hierarchie')}}" class="btn btn-danger btn-lg pull-left" >Annuler</a>
		<input type="submit" class="btn btn-primary btn-lg pull-right" values='Valider' />
	</form>
		</div>
{% endblock %}
