{%extends "::layout.html.twig"%}

{%block body%}
<div class="container m20 w60">
	<form method="POST" class="well teal">
		{{form_widget(form)}}
		{{form_rest(form)}}
		<div class="row" >
			<div class="col-md-12">
				<a href="{{path('imie_homepage')}}" class="btn btn-lg btn-danger pull-left">Annuler</a>
				<input type="submit" value="Valider" class="btn btn-lg btn-primary pull-right" />
			</div>
		</div>
	</form>
</div>
{%endblock%}