{%extends "::base.html.twig" %}


{% block body %}
  <table>
	<tr>
		<td>Code</td><td>Designation</td>
	</tr>
 	<tr>
		<td>XX0002</td><td>Article Divers</td>
	</tr>
	<tr>
		<td>BB0001</td><td>Boisson</td>
	</tr>	
  </table>
  
  
  
{% endblock %}	